<div class="grettings-general">

  <div class="grettings">
    <mat-card style="padding-inline: 4rem; height: 100%;">
      <h4 style="font-weight: bold; font-size: 5rem; color:#2B4965; padding-top: 5%;">Bienvenido :)</h4>
      <h1 style="font-weight: bold; font-size: 8rem; color:#2B4965; padding-top: 5%;">{{name}}</h1>
    </mat-card>
  </div>
  <div class="grettings-footer">
    <div class="content">
      <mat-card style="border-radius: 2rem; background: #61C8AD;">
        <div class="features-one">
          <h1 style="font-size: 7rem; color:#FFFFFF; padding-top: 10%;">{{sintomas}}</h1>
          <div class="features-two">
            <img mat-card-sm-image style="border-radius: 1em;" src="../../../assets/img/icons/sintomas.png" >
          </div>
        </div>
        <div class="features-three">
          <h4 style="font-size: 2rem; color:#FFFFFF;">sintomas</h4>
        </div>
      </mat-card>
    </div>
    <div class="content">
      <mat-card style="border-radius: 2rem; background: #61C8AD;">
        <div class="features-one">
          <h1 style="font-size: 7rem; color:#FFFFFF; padding-top: 10%;">{{enfermedades}}</h1>
          <div class="features-two">
            <img mat-card-sm-image style="border-radius: 1em;" src="../../../assets/img/icons/sintomas.png" >
          </div>
        </div>
        <div class="features-three">
          <h4 style="font-size: 2rem; color:#FFFFFF;">enfermedades</h4>
        </div>
      </mat-card>
    </div>
    <div class="content">
      <mat-card style="border-radius: 2rem; background: #61C8AD;">
        <div class="features-one">
          <h1 style="font-size: 7rem; color:#FFFFFF; padding-top: 10%;">{{preguntas}}</h1>
          <div class="features-two">
            <img mat-card-sm-image style="border-radius: 1em;" src="../../../assets/img/icons/sintomas.png" >
          </div>
        </div>
        <div class="features-three">
          <h4 style="font-size: 2rem; color:#FFFFFF;">preguntas</h4>
        </div>
      </mat-card>
    </div>
    <!-- <mat-card style="border-radius: 4rem;">
      <h4 style="font-size: 5rem; color:#2B4965;">Bienvenido :)</h4>
      <h1 style="font-size: 10rem; color:#2B4965;">Luis</h1>
    </mat-card>
    <mat-card style="margin: 2em; border-radius: 4rem;">
      <h4 style="font-size: 5rem; color:#2B4965;">Bienvenido :)</h4>
      <h1 style="font-size: 10rem; color:#2B4965;">Luis</h1>
    </mat-card> -->
  </div>
</div>

