<div class="page-container">
  <div class="sidebar">
    <div class="list-items">
      <div class="image-logo"><img class="logo-banner" src="../../../assets/img/utils/logo-image-two.png" alt=""></div>
      <a routerLink="/dashboard/home" routerLinkActive="selected" class="list-item"><img class="icon-banner" src="../../../assets/img/icons/inicio.png" alt="">Inicio</a>
      <a routerLink="/dashboard/symptoms" routerLinkActive="selected" class="list-item"><img class="icon-banner" src="../../../assets/img/icons/sintomas.png" alt="">Sintomas</a>
      <a routerLink="/dashboard/questions" routerLinkActive="selected" class="list-item"><img class="icon-banner" src="../../../assets/img/icons/preguntas perro.png" alt="">Preguntas</a>
      <a routerLink="/dashboard/diseases" routerLinkActive="selected" class="list-item"><img class="icon-banner" src="../../../assets/img/icons/enfermedad.png" alt="">Enfermedad</a>
      <a routerLink="/dashboard/rules" routerLinkActive="selected" class="list-item"><img class="icon-banner" src="../../../assets/img/icons/reglas.png" alt="">Reglas</a>
      <a routerLink="/dashboard/veterinary" routerLinkActive="selected" class="list-item"><img class="icon-banner" src="../../../assets/img/icons/veterinaria.png" alt="">Veterinaria</a>
      <a routerLink="/dashboard/suggestions" routerLinkActive="selected" class="list-item"><img class="icon-banner" src="../../../assets/img/icons/sugerencia.png" alt="">Sugerencias</a>
      <a (click)="logOut()" href="javascript:void(0)" class="list-item mt-4">
        <img class="icon-banner" src="../../../assets/img/icons/cerrar sesion.png" alt="">Cerrar sesion
      </a>
   
    </div>
  </div>
  <div class="page-content-container">
    <div class="toolbar-flex">
      <div class="welcome-toolbar">
        ¡Bienvenido! <b class="ml-1">{{ name }}</b>
      </div>
      <div class="toogle-bar">
        <mat-card class="d-flex">
          <div class="d-flex align-items-center img-logo-container">
            <div style="width: 65px;">
              <img class="rounded img-fluid" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </div>
            <a href="javascript:void(0)" class="text-muted">Logout</a>
          </div>
          <div class="d-flex align-items-center" style="gap: 1rem">
              <a class="text-dark" href="javascript:void(0)">
                <i class="far fa-bell size-12"></i>
              </a>
              <a class="text-dark" href="javascript:void(0)">
                <i class="fa fa-ellipsis-h size-12"></i>
              </a>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="container-page mt-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
