.container-page {
    padding-left: 1rem;
    padding-right: 1rem;
}

.color-dark {
   color:#2B4965
}

.size-3 {
    font-size: 3rem !important;
}

.card-page-title {
    padding: 2.5rem !important; 
    border-radius: 20px !important;
}

.datatable-header{
    padding: 2rem;
    padding-bottom: 1rem !important;
    display: flex;
    justify-content: end;
}
  
.datatable-content{
    width: 100%;
    padding: 3rem;
    padding-top: 1rem !important;
}


.grettings-symptoms{
    width: 100%;
    height: 100px;
  }
  
  .datatable{
    width: 100%;
    margin-top: 25px;
    border-radius: 25px;
    height: fit-content;
    background: white;
  }
  
  .icon-banner{
    max-height: 25px;
    margin-right: 10px;
  }
  
  
  .add-symptoms-button{
    background: #61C8AD;
    width: 250px;
    height: 45px;
    border-radius: 10px;
    font-size: 15px;
  }
  
  .toogle-bar{
    display: flex;
    justify-content: end;
  }
  .example-card {
    max-width: 400px;
    margin-bottom: 8px;
  }
  .grettings-footer{
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    align-content: space-between;
  }
  .features-one{
    display: flex;
  }
  .features-two{
  padding-top: 4rem;
  }
  .features-three{
    width: 100%;
    padding-inline: inherit;
  }
  
  /*
   * ----------------------------
   * Table Styles
   * ----------------------------
   */
  
   table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  

  .notify-success {
    background-color: rgb(34 197 94);
    color: white !important;
  }

  .notify-success button {
    color: white !important;
  }
  

  .notify-error {
    background-color: rgb(220 38 38);
    color: white !important;
  }

  .notify-error button {
    color: white !important;
  }

  .notify-info {
    background-color: rgb(8 145 178);
    color: white !important;
  }

  .notify-info button {
    color: white !important;
  }

  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
    background: #000;
    opacity: 0.75 !important;
  }
