<div class="grettings-general">
  <div class="toogle-bar">
    <div class="toogle-bar">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title style="padding-inline: 3em;">Bienvenido</mat-card-title>
          <mat-card-subtitle>Luis</mat-card-subtitle>
          <img mat-card-sm-image style="border-radius: 1em;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
      </mat-card>
    </div>
  </div>
  <div class="grettings-symptoms">
    <mat-card style="padding-inline: 4rem; border-radius: 20px; height: 100%; padding-top: 2.5rem;">
      <h4 style="font-size: 5rem; color:#2B4965;">Veterinaria</h4>
    </mat-card>
  </div>
  <div class="datatable">
    <div class="datatable-header">
      <!-- <mat-form-field appearance="legacy">
        <mat-label>Sintoma</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Buscar</mat-hint>
      </mat-form-field> -->
      <div class="example-button-row">
        <button mat-button class="add-symptoms-button" (click)="editVeterinary()" style="color: #FFFFFF;">Editar</button>
      </div>
    </div>
    <form [formGroup]="veterinaryForm">
      <div style="width: 100%; text-align: center;">
        <mat-form-field appearance="standard" style="width: 70%;">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" placeholder="Ingresa aqui el codigo" #code>
        </mat-form-field>
      </div>
      <div style="width: 100%; text-align: center;">
        <mat-form-field appearance="standard" style="width: 70%;">
          <mat-label>Direccion</mat-label>
          <input matInput formControlName="address" placeholder="Ingresa aqui el codigo" #code>
        </mat-form-field>
      </div>
      <div style="width: 100%; text-align: center;">
        <mat-form-field appearance="standard" style="width: 70%;">
          <mat-label>Horario</mat-label>
          <input matInput formControlName="schedule" placeholder="Ingresa aqui el codigo" #code>
        </mat-form-field>
      </div>
      <div style="width: 100%; text-align: center;">
        <mat-form-field appearance="standard" style="width: 70%;">
          <mat-label>URL Mapa</mat-label>
          <input matInput formControlName="urlmap" placeholder="Ingresa aqui el codigo" #code>
        </mat-form-field>
      </div>
      <div style="width: 100%; text-align: center;">
        <mat-form-field appearance="standard" style="width: 70%;">
          <mat-label>URL Instagram</mat-label>
          <input matInput formControlName="urlinstagram" placeholder="Ingresa aqui el codigo" #code>
        </mat-form-field>
      </div>
      <div style="width: 100%; text-align: center;">
        <mat-form-field appearance="standard" style="width: 70%;">
          <mat-label>URL Facebook</mat-label>
          <input matInput formControlName="urlfacebook" placeholder="Ingresa aqui el codigo" #code>
        </mat-form-field>
      </div>
      <div style="width: 100%; text-align: center;">
        <mat-form-field appearance="standard" style="width: 70%;">
          <mat-label>ID pagina Facebook</mat-label>
          <input matInput formControlName="idfacebook" placeholder="Ingresa aqui el Sintoma" #symptom>
        </mat-form-field>
      </div>
    </form>

  </div>
</div>


