<div class="grettings-general">
  <div class="grettings-symptoms">
    <mat-card class="card-page-title d-flex justify-content-between align-items-center">
      <h4 class="font-weight-bold color-dark size-3 mb-0">Veterinaria</h4>
      <div class="example-button-row">
        <button mat-button class="add-symptoms-button" (click)="editVeterinary()" style="color: #FFFFFF;">Editar</button>
      </div>
    </mat-card>
  </div>
  <div class="datatable">
    <form class="pt-4" [formGroup]="veterinaryForm">
      <div style="width: 100%; text-align: center;">
        <mat-form-field appearance="standard" style="width: 80%;">
          <div class="mr-3" matPrefix>
            <label class="font-weight-bold text-muted h5">Nombre</label>
          </div>
          <input matInput formControlName="name" placeholder="Ingresa aqui el codigo" #code>
        </mat-form-field>
      </div>
      <div style="width: 100%; text-align: center;">
        <mat-form-field appearance="standard" style="width: 80%;">
          <div class="mr-3" matPrefix>
            <label class="font-weight-bold text-muted h5">Direccion</label>
          </div>
          <input matInput formControlName="address" placeholder="Ingresa aqui el codigo" #code>
        </mat-form-field>
      </div>
      <div style="width: 100%; text-align: center;">
        <mat-form-field appearance="standard" style="width: 80%;">
          <div class="mr-3" matPrefix>
            <label class="font-weight-bold text-muted h5">Horario</label>
          </div>
          <input matInput formControlName="schedule" placeholder="Ingresa aqui el codigo" #code>
        </mat-form-field>
      </div>
      <div style="width: 100%; text-align: center;">
        <mat-form-field appearance="standard" style="width: 80%;">
          <div class="mr-3" matPrefix>
            <label class="font-weight-bold text-muted h5">URL Mapa</label>
          </div>
          <input matInput formControlName="urlmap" placeholder="Ingresa aqui el codigo" #code>
        </mat-form-field>
      </div>
      <div style="width: 100%; text-align: center;">
        <mat-form-field appearance="standard" style="width: 80%;">
          <div class="mr-3" matPrefix>
            <label class="font-weight-bold text-muted h5">URL Instagram</label>
          </div>
          <input matInput formControlName="urlinstagram" placeholder="Ingresa aqui el codigo" #code>
        </mat-form-field>
      </div>
      <div style="width: 100%; text-align: center;">
        <mat-form-field appearance="standard" style="width: 80%;">
          <div class="mr-3" matPrefix>
            <label class="font-weight-bold text-muted h5">URL Facebook</label>
          </div>
          <input matInput formControlName="urlfacebook" placeholder="Ingresa aqui el codigo" #code>
        </mat-form-field>
      </div>
      <div style="width: 100%; text-align: center;">
        <mat-form-field appearance="standard" style="width: 80%;">
          <div class="mr-3" matPrefix>
            <label class="font-weight-bold text-muted h5">ID pagina Facebook</label>
          </div>
          <input matInput formControlName="idfacebook" placeholder="Ingresa aqui el Sintoma" #symptom>
        </mat-form-field>
      </div>
    </form>

  </div>
</div>


