<div class="grettings-general">
  <div class="grettings-symptoms">
    <mat-card class="card-page-title">
      <h4 class="font-weight-bold color-dark size-3">Reglas</h4>
    </mat-card>
  </div>
  <div class="datatable">
    <div class="datatable-content">
      <div class="d-flex justify-content-between">
        <mat-form-field appearance="standard" style="max-width: 35%;">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <div class="d-flex align-items-center">
          <button mat-button class="add-symptoms-button" (click)="addRules()" style="color: #FFFFFF;">Agregar
            Regla</button>        
          </div>
      </div>
      <div class="mat-elevation-z8">
        <!-- <table mat-table [dataSource]="dataSource" matSort> -->
        <table mat-table [dataSource]="dataSource">
          <!-- ID Column -->
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;">Codigo</th>
            <td mat-cell *matCellDef="let row" style="text-align:center;"> {{row.codDiagnostico}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="pregunta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;">Pregunta</th>
            <td mat-cell *matCellDef="let row" style="text-align:center;"> {{row.descripcion}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="SI">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;">SI</th>
            <td mat-cell *matCellDef="let row" style="text-align:center;"> {{row.codDiagSi? row.codDiagSi : 'null' }} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="NO">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;">NO</th>
            <td mat-cell *matCellDef="let row" style="text-align:center;"> {{row.codDiagNo? row.codDiagNo : 'null' }} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="Enf. SI">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;">Enf SI</th>
            <td mat-cell *matCellDef="let row" style="text-align:center;"> {{row.codEnfeSi? row.codEnfeSi : 'null' }} </td>
            <!-- <a href="javascript:;" class="kt-chat__username">${ v.user ? v.user.name : '' }</a> -->
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="Enf. NO">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;">Enf NO</th>
            <td mat-cell *matCellDef="let row" style="text-align:center;"> {{row.codEnfeNo? row.codEnfeNo : 'null' }} </td>
          </ng-container>

          <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;">Opciones</th>
            <td mat-cell *matCellDef="let row" style="text-align:center;">
              <button mat-icon-button (click)="onEdit(row)"><img class="icon-banner"
                  src="../../../assets/img/icons/editar.png" alt=""></button>
              <button mat-icon-button (click)="onDelete(row)"><img class="icon-banner"
                  src="../../../assets/img/icons/eliminar.png" alt=""></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Ingrese Codigo de Sintoma "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [length]="rules.length"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="[5, 10]"
                      (page)="handlePage($event)"
                      aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
</div>
