<div class="grettings-general">
  <div class="grettings-symptoms">
    <mat-card class="card-page-title">
      <h4 class="font-weight-bold color-dark size-3">Reglas</h4>
    </mat-card>
  </div>
  <div class="datatable">
    <div class="datatable-content">
      <div class="d-flex justify-content-between">
        <mat-form-field appearance="standard" style="max-width: 35%;">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <div class="d-flex align-items-center">
          <button 
           *canPermission="{'codModulo': 'M09', 'permiso': 'insertar'}"
            mat-button 
            class="add-symptoms-button" 
            (click)="addRules()" 
            style="color: #FFFFFF;">Agregar
            Regla</button>        
          </div>
      </div>
      <div class="mat-elevation-z8">
        <!-- <table mat-table [dataSource]="dataSource" matSort> -->
        <table mat-table [dataSource]="dataSource">
          <!-- ID Column -->
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center; width: 10%;">Codigo</th>
            <td mat-cell *matCellDef="let row" style="text-align:center; width: 10%;"> {{row.codDiagnostico}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="pregunta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center; width: 30%;">Pregunta</th>
            <td mat-cell *matCellDef="let row" style="text-align:center; width: 30%;"> {{row.descripcion}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="SI">
            <th class="datatable-border-left" mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center; width: 9%;">SI</th>
            <td class="datatable-border-left text-muted" mat-cell *matCellDef="let row" style="text-align:center; width: 9%;"> {{row.codDiagSi? row.codDiagSi : 'NULL' }} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="NO">
            <th class="datatable-border-right" mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center; width: 9%;">NO</th>
            <td class="datatable-border-right text-muted" mat-cell *matCellDef="let row" style="text-align:center; width: 9%;"> {{row.codDiagNo? row.codDiagNo : 'NULL' }} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="Enf. SI">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center; width: 9%;">Enf SI</th>
            <td class="text-muted" mat-cell *matCellDef="let row" style="text-align:center; width: 9%;"> {{row.codEnfeSi? row.codEnfeSi : 'NULL' }} </td>
            <!-- <a href="javascript:;" class="kt-chat__username">${ v.user ? v.user.name : '' }</a> -->
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="Enf. NO">
            <th class="datatable-border-right" mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center; width: 9%;">Enf NO</th>
            <td class="datatable-border-right text-muted" mat-cell *matCellDef="let row" style="text-align:center; width: 9%;"> {{row.codEnfeNo? row.codEnfeNo : 'NULL' }} </td>
          </ng-container>

          <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center; width: 24%;">Opciones</th>
            <td class="flex-column" mat-cell *matCellDef="let row" style="text-align:center; width: 24%;">
              <div>
                <button 
                   *canPermission="{'codModulo': 'M09', 'permiso': 'modificar'}"
                  mat-icon-button 
                  (click)="onEdit(row)">
                    <img class="icon-banner"
                    src="../../../assets/img/icons/editar.png" alt="">
                  </button>
                <button 
                   *canPermission="{'codModulo': 'M09', 'permiso': 'eliminar'}"
                  mat-icon-button 
                  (click)="onDelete(row)">
                    <img class="icon-banner"
                    src="../../../assets/img/icons/eliminar.png" alt="">
                  </button>
              </div>
              <app-badge-tracking-record *canVerification="true" [createdBy]="row.createdBy"></app-badge-tracking-record>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td [colSpan]="7" class="mat-cell w-100">Ingrese Codigo de Sintoma "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [length]="rules.length"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="[5, 10]"
                      (page)="handlePage($event)"
                      aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
</div>
