<div class="grettings-general">
  <div>
    <mat-card class="card-page-title">
      <h4 class="font-weight-bold color-dark size-3">Síntomas</h4>
    </mat-card>
  </div>
  <div class="datatable">
    <div class="datatable-content">
      <div class="d-flex justify-content-between">
        <mat-form-field appearance="standard" style="max-width: 35%;">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <div class="d-flex align-items-center">
          <button mat-button class="add-symptoms-button" (click)="addSymptoms()" style="color: #FFFFFF;">Agregar Sintoma</button>
        </div>
      </div>

      <div class="mat-elevation-z8">
        <!-- <table mat-table [dataSource]="dataSource" matSort> -->
          <table mat-table [dataSource]="dataSource">
          <!-- ID Column -->
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;">Codigo</th>
            <td mat-cell *matCellDef="let row" style="text-align:center;"> {{row.codigo}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;">Sintoma</th>
            <td mat-cell *matCellDef="let row" style="text-align:center;"> {{row.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;">Opciones</th>
            <td class="py-2" mat-cell *matCellDef="let row" style="text-align:center;">
              <div class="d-block">
                <button mat-icon-button (click)="onEdit(row)"><img class="icon-banner" src="../../../assets/img/icons/editar.png" alt=""></button>
                <button mat-icon-button (click)="onDelete(row.codigo)"><img class="icon-banner" src="../../../assets/img/icons/eliminar.png" alt=""></button>
              </div>
              <app-badge-tracking-record [createdBy]="row.createdBy"></app-badge-tracking-record>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [length]="symptoms.length"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="[5, 10]"
                       (page)="handlePage($event)"
                       aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
</div>
